<a href="https://colab.research.google.com/github/Thiagom790/PYTHON-Cod3r/blob/main/01_fundamentos_colab/fundamentos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Primeiros Exemplos

In [ ]:
print("Primeiro programa 2")
1 \
+ 2

help(print)

Primeiro programa 2
Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
1 + 2 + 3
4 + 5 + 6

In [ ]:
print(1 + 2 + 3)
print(4 + 5 + 6)

# Tipos Básicos

In [ ]:
print(True)
print(False)
print(1.2 + 2)
print('Aqui eu falo na lingua!')
print("Tb funciona.")
print("Você é" + 3 * 'muito' + 'legal!')
# print(3 + 'a') -> ambiguidade ai da erro
print([1,2,3]) # lista
print({'nome': 'Pedro', 'idade': 22}) # Dicionário
print(None)

# Variaveis

In [ ]:
a = 10
b = 4.2

print(a + b)

a = 'Agora sou uma string!'
print(a)
a
b

# print(a + b) cuidado com a ambiguidade

# Comentários

In [ ]:
# asdfsadfadf
# asdrfdfasf
# asdfsadf

# minhas variáveis
salario = 3450.66
despesas = 2456.2

"""
A ideia é calcular o quanto
vai sobrar no final do mês!
"""
print(salario - despesas)

# print("Fim")
print("Fim verdadeiro")

# Operadores Aritméticos

In [ ]:
print(2 + 3)
print(4 - 7)
print(2 * 5.3)
print(9.4 / 3)

print(9.4 // 3) # divisão inteira
print(2 ** 8) # potencia
print(10 % 3)

a = 12
b = a
print(a + b)

In [ ]:
# Minhas despesas
salario = 3450.45
despesas = 2456.2

# Resposta do desafio
percentual_comprometido = despesas / salario * 100
percentual_comprometido

# Operadores Relacionais

In [ ]:
3 > 4
4 >= 3
1 < 2
3 <= 1
3 != 2
3 == 3
2 == '2'

# Operadores de Atrubuição

In [ ]:
a = 3
a = a + 7
print(a)

a += 5 # a = a + 5
print(a)

a -= 3
print(a)

a *= 2
print(a)

a /= 4
print(a)

a %= 4
print(a)

a **= 8
print(a)

a //= 256
print(a)

# Operadores Lógicos

In [ ]:
# True or False
7 != 3 and 2 > 3

# Tabela verdade do AND
True and True
True and False
True and False
False and False
True and True and False and True and True and True

# Tabela verdade do OR
True or True
True or False
True or False
False or False
True or True or False or True or True or True

# Tabela verdade do XOR
True != True
True != False
False != True
False != False

# Operador de Negação (unário)
not True
not False

not 0
not 1
not not -1
not not True

# Operdaor bit a bit cuidado
True & False
False | True
True ^ False # XOR bit a bit

In [ ]:
# Desafio Operadores Lógicos

# Os trabalhos 
trabalho_terca = False
trabalho_quinta = False

"""
  - Confirmando os 2: TV 50' + Sorvete
  - Confirmando apenas 1: TV 32' + Sorvete
  - Nenhum confirmado: fica em casa
"""

# Minha resposta
tv_50 = trabalho_terca and trabalho_quinta
tv_32 = trabalho_terca or trabalho_quinta
sorvete = tv_50 or tv_32
ficar_em_casa = not sorvete

# Resposta do professor
tv_50 = trabalho_terca and trabalho_quinta
sorvete = trabalho_terca or trabalho_quinta
tv_32 = trabalho_terca != trabalho_quinta # XOR
mais_saudavel = not sorvete

print("Tv50={} Tv32={} Sorvete={} Saudável={}"
      .format(tv_50, tv_32, sorvete,mais_saudavel))

# "{1}, {2} = {0}".format(1, False, 'resultado')
# "{}, {} = {}".format(1, False, 'resultado')

# Operadores Unários

In [ ]:
a = 3
# a ++ 
# a += 1
# a
# a --
++a # esses tem outros sentido no python
-a
+a
--a

not 0
not 1
not -2
not False
not not True

# Operadores Ternários

In [ ]:
esta_chovendo = True

print('Hoje estou com roupas ' + ('secas','molhadas.')[esta_chovendo])
print('Hoje estou com roupas ' + ('molhadas. ' if esta_chovendo else 'secas.'))

Hoje estou com roupas molhadas.
Hoje estou com roupas molhadas.

# Operadores de Membro

In [ ]:
# Operador de Membro
lista = [1,2,3,"Ana", "Carl"]
2 in lista
'Ana' not in lista

# Operador de Identidade
x = 3
y = x
z = 3
x is y
y is z
x is not z

lista_a = [1, 2, 3]
lista_b = lista_a
lista_c = [1, 2, 3]

lista_a is lista_b
lista_b is lista_c
lista_a is not lista_c

True

# Builtins

In [ ]:
# type() dessa forma da erro
type(1)
__builtin__.type('Fala galera!')
__builtin__.print(10/3)

# __builtin__.help(__builtin__.dir)
# dir(__builtin__)
nome = 'João da Silva'
type(nome)
__builtin__.len(nome)

dir()

# Conversão de Tipos

In [ ]:
1 + 3
'2' + '3'
# 2 + '3' da erro

a = 2
b = '3'

print(type(a))
print(type(b))

print(a + int(b))
print(str(a) + b)

type(str(a))

# print(2 + int('2 legal'))
print(2 + float('3.4'))

<class 'int'>
<class 'str'>
5
23
5.4

# Coerção Automática

In [ ]:
10 / 2
type(10 / 2)
10 / 3
10 // 3
type(10 // 3)
10 // 3.3
type(10 // 3.3)
10 / 2.5
2 + True
2 + False
type(2 + 1)
type(2.5 + 1)

float

# Tipos Numéricos

In [ ]:
dir(int)
dir(float)

a = 5
b = 2.5
a / b
a + b
a * b

type(a)
type(b)
type(a - b)

b.is_integer()
5.0.is_integer()

dir(int)
int.__add__(2,3)
2 + 3

(-2).__abs__()
abs(-2)

(-3.6).__abs__()
dir(float)
abs(-3.6)

3.6

In [ ]:
# 1.1 + 2.2
from decimal import  Decimal, getcontext
Decimal(1) / Decimal(7)

getcontext().prec = 4
Decimal(1) / Decimal(7)
Decimal.max(Decimal(1), Decimal(7))
dir(Decimal)

1.1 + 2.2
getcontext().prec = 10
Decimal(1.1) + Decimal(2.2)

import decimal
dir(decimal)
dir()

# Tipo String

In [ ]:
dir(str)
nome = 'Saulo Pedro'
nome
nome[0]
# nome[0] = 'P' da erro nisso

# 'marca d'água' dessa forma da erro com aspas simples
"Dias D'Avila" == 'Dias D\'Avila'
"Teste \" funciona!"
texto = 'Texto entre apostrófos pode ter "aspas"'
print(texto)

doc = """ Texto com múltiplas
...linhas"""
doc
print("Texto com múltiplas\n\t...linhas")
print(doc)

doc2 = '''Também é possível
... com 3 aspas simples'''
doc2

Texto entre apostrófos pode ter "aspas"
Texto com múltiplas
	...linhas
 Texto com múltiplas
...linhas

'Também é possível\n... com 3 aspas simples'

In [ ]:
nome = "Ana Paula"
nome[0]
nome[6]
nome[-3]
# dessa forma eu pego a partir do indice 4 pra frente
nome[4:]
# dessa forma ele vai do indice -5 até o final
nome[-5:]
# ele vai do até o indice 3 sem ele
nome[:3]
# daqui ele vai do indice 2 ao indice 5 sem o indice 5
nome[2:5]

numeros = '1234567890'
numeros
numeros[::]
# dessa forma ele vai por step de 2
numeros[::2]
numeros[1::2]
# dessa forma abaixo eu inverto uma string
numeros[::-1]
numeros[::-2]

nome[::-1]

'aluaP anA'

In [ ]:
frase = 'Python é uma linguagem excelente'
'py' not in frase
'ing' in frase
len(frase)
frase.lower()
frase
frase = frase.upper()
frase

frase.split() # quebra de frase por espaços
frase.split('E')

# dir(str)
# help(str.center)

['PYTHON É UMA LINGUAG', 'M ', 'XC', 'L', 'NT', '']

In [ ]:
# magic methods
a = '123'
b = ' de Oliveira 4'
a + b
a.__add__(b)
str.__add__(b, b)

dir(str)
len(a)
a.__len__()
'1' in a
a.__contains__('1')

True

# Lista

In [ ]:
lista = []
type(lista)
dir(list)
# help(list)
len(lista)
lista.append(1)
lista.append(5)
lista.insert(0,'ducati')
print(lista)
lista
len(lista)

nova_lista = [1, 4, 'Ana', 'Bia']
nova_lista
nova_lista.remove(4) # removo o item 4
nova_lista
nova_lista.reverse()
nova_lista

['ducati', 1, 5]

['Bia', 'Ana', 1]

In [ ]:
lista = [1,5, 'Rebeca', 'Guilherme', 3.1415]
lista.index("Guilherme")
# lista.index(31) da erro 
lista[2]
1 in lista
'Rebeca' in lista
'Pedro' not in lista
lista[0]
lista[4]
# lista[5] da erro
lista[-1]
lista[-5]

1

In [ ]:
lista = ['Ana', 'Lia', 'Rui', 'Paulo', 'Dani']
lista[1:3]
lista[1:-1]
lista[1:]
lista[:-1]
lista[:]
lista[::2] 
lista[::-1]
del lista[2]
lista
del lista[1:]
lista

['Ana']

# Tupla

In [ ]:
tupla = tuple()
tupla = ()
dir(tuple)
# help(tuple)
tupla = ('um')
type(tupla)
tupla = ('um',)
type(tupla)
tupla[0]
# tupla[0] = novo da erro pois não posso alterar uma tupla
cores = ('verde', 'amarelo', 'azul','branco')
cores[0]
cores[-1]
cores[1:]

cores.index('amarelo')
cores.count('azul')
len(cores)

4

# Dicionário

In [ ]:
pessoa = {'nome': 'Prof(a). Ana', 'idade': 38, 'cursos':['Ingles', 'Portuges']}
# posso fazer no dicionario
# idade = 'blabla'
# pessoas = {123: 'Thiago', False: 'Teste', idade: 34}
type(pessoa)
dir(dict)
len(pessoa)

pessoa
pessoa['nome']
pessoa['idade']
pessoa['cursos']
pessoa['cursos'][1]
# pessoa['tags']
pessoa.keys()
pessoa.values()
pessoa.items()
pessoa.get('idade')
pessoa.get('tags')
pessoa.get('tags', [])

dict_items([('nome', 'Prof(a). Ana'), ('idade', 38), ('cursos', ['Ingles', 'Portuges'])])

In [ ]:
pessoa = {'nome': 'Prof. Alberto', 'idade': 43, 'cursos':['React', 'Python']}
pessoa['idade'] = 44
pessoa['cursos'].append('Angular')
pessoa
pessoa.pop('idade') # ele le e remove

pessoa
pessoa.update({'idade':40,'Sexo':'M'})
pessoa
del pessoa['cursos']
pessoa
pessoa.clear()
pessoa
pessoa['Nome']  = 'Thiago'
pessoa

{'Nome': 'Thiago'}

# Conjunto

In [ ]:
a = {1,2,3}
type(a)
# a[1] não aceita indice
a = set('codddddd3r')
print(a)
print('3' in a, 4 not in a)
{1,2,3} == {3,2,1,3} # é verdadeiro pois ele compara os elementos

# operacoes
c1 = {1, 2}
c2 = {2, 3}
c1.union(c2)
c1.intersection(c2)
c1.update(c2) # é uma união que altera o c1
c1
# c2 é subconjunto do c1
# o simbolo do menor está para o c2 pq o c2 pode ser menor 
# e estar contido no c1
c2 <= c1
# c1 é superconjunto de c2
c1 >= c2

# nesse exemplo é a diferença de 2 conjuntos
{1,2,3} - {2}
c1 - c2
c1 -= {2}
c1

{'o', 'd', 'c', '3', 'r'}
True True

{1, 3}

# Interpolação

In [ ]:
from string import Template

nome, idade = 'Ana', 30.9835

# dessa forma é uma mais antida e ele arredonda quando uso o %d para numero
print('Nome: %s Idade: %.2f %r %s' % (nome, idade, True, False)) # mais antiga

print('Nome: {0} Idade: {1}'.format(nome,idade)) # python < 3.6 recomendavel
print(f'Nome: {nome} Idade: {idade} {2 ** 8 + 1}')

s = Template('Nome: $n Idade: $idade')
print(s.substitute(n=nome, idade=idade))

Nome: Ana Idade: 30.98 True False
Nome: Ana Idade: 30.9835
Nome: Ana Idade: 30.9835 257
Nome: Ana Idade: 30.9835